@media all and (max-width:1200px){
    .menu{
        height: 400px;
    }
}

@media all and (max-width:939px){
    .menu{
        height: 500px;
    }
}

@media all and (max-width:813px){
    .menu{
        height: 600px;
    }
}

@media all and (max-width:735px){
    .menu{
        height: 300px;
        float: none;
        width: 100%;
    }
    }

