div.content {
    background-color:#fff200;
    height: 100px;
    background-image: url('https://fe.it-academy.by/Materials/HTMLCSS_V14/images/ball3.png');
    background-repeat: no-repeat;
    background-position: center center;
}

div#first {
    background-color: #00801a;
}

div#second {
    background-color: #0800ff;
}

div#third {
    background-color: #fff200;
}

div#fourth {
    background-color: #ff0000;
}